* {
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
  background-image: url("../img/fondoClaro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CB8FEB;
}

body header #containerBtns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header #containerBtns button {
  width: 100%;
  border: none;
  height: 50px;
  border: solid 1px #4B3B5A;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main aside {
  border-right: solid 1px #4B3B5A;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccc2d1c5;
  padding: 2rem;
}

body main aside #tituloNav {
  background-color: #e29399;
  width: 90%;
  text-align: center;
  border-radius: 1rem 1rem;
  height: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main aside #listaTracks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

body main aside #listaTracks .no-seleccionado {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em 1em;
  background-color: #dfa2ff;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  border-radius: 10px;
  cursor: pointer;
}

body main aside #listaTracks .no-seleccionado .divImg {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body main aside #listaTracks .no-seleccionado .divImg img {
  height: 150px;
  width: 150px;
  text-align: center;
}

body main aside #listaTracks .no-seleccionado .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

body main aside #listaTracks .seleccionado {
  background-color: #db3d4ac4;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em 1em;
  cursor: pointer;
}

body main aside #listaTracks .seleccionado .divImg {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body main aside #listaTracks .seleccionado .divImg img {
  height: 150px;
  width: 150px;
  text-align: center;
}

body main aside #listaTracks .seleccionado .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

body main #audioSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #audioSection #trackEntero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 1rem;
}

body main #audioSection #trackEntero #imgContainer {
  -webkit-box-shadow: 0rem 0rem 2rem 0.5rem black;
          box-shadow: 0rem 0rem 2rem 0.5rem black;
  width: "450px";
  height: "450px";
}

body main #audioSection #trackEntero #imgContainer img {
  visibility: hidden;
}

body main #audioSection #trackEntero #botonesTrack #reproductor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body main #audioSection #trackEntero #botonesTrack #reproductor svg {
  width: 75px;
  height: 75px;
}

body main #audioSection #trackEntero #botonesTrack #reproductor svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main #audioSection #trackEntero #botonesTrack #reproductor .noActivado {
  stroke: white;
  fill: white;
}

body main #audioSection #trackEntero #botonesTrack #reproductor .activado {
  fill: lightgreen;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #Layer_1:active {
  fill: lightgreen;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: -5px -5px 30px 5px #CB8FEB, 5px 5px 30px 5px #e29399;
          box-shadow: -5px -5px 30px 5px #CB8FEB, 5px 5px 30px 5px #e29399;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen legend {
  background-color: #e29399;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 1px black;
  -webkit-box-shadow: -1px 1px 1px black;
          box-shadow: -1px 1px 1px black;
  margin: 0 auto;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen #volumenMenos {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen #volumenMas:active {
  fill: lightgreen;
}

body main #audioSection #trackEntero #botonesTrack #reproductor #containerVolumen #volumenMenos:active {
  fill: red;
}

body main #videoSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #videoSection #videoEntero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 1rem;
}

body main #videoSection #videoEntero #tituloVideo {
  color: white;
}

body main #videoSection #videoEntero #containerVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  gap: 1rem;
}

body main #videoSection #videoEntero #containerVideo #videoTag {
  border: solid 2px #CB8FEB;
  -webkit-box-shadow: -5px -5px 30px 5px #CB8FEB, 5px 5px 30px 5px black;
          box-shadow: -5px -5px 30px 5px #CB8FEB, 5px 5px 30px 5px black;
}
/*# sourceMappingURL=style.css.map */