* {
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../img/fondoClaro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CB8FEB;
}

body header #containerBtns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header #containerBtns button {
  width: 100%;
  border: none;
  height: 50px;
  border: solid 1px #4B3B5A;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main aside {
  border-right: solid 1px #4B3B5A;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccc2d1c5;
  padding: 2rem;
}

body main aside #tituloNav {
  background-color: #e29399;
  width: 90%;
  text-align: center;
  border-radius: 1rem 1rem;
}

body main aside #listaTracks {
  overflow: scroll;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

body main aside #listaTracks .no-seleccionado {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em 1em;
  background-color: #dfa2ff;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  border-radius: 10px;
  cursor: pointer;
}

body main aside #listaTracks .no-seleccionado .divImg {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body main aside #listaTracks .no-seleccionado .divImg img {
  height: 150px;
  width: 150px;
  text-align: center;
}

body main aside #listaTracks .no-seleccionado .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

body main aside #listaTracks .seleccionado {
  background-color: #db3d4ac4;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em 1em;
  cursor: pointer;
}

body main aside #listaTracks .seleccionado .divImg {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body main aside #listaTracks .seleccionado .divImg img {
  height: 150px;
  width: 150px;
  text-align: center;
}

body main aside #listaTracks .seleccionado .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

body main #audioSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #audioSection #trackEntero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 1rem;
}

body main #audioSection #trackEntero img {
  -webkit-box-shadow: 0rem 0rem 2rem 0.5rem black;
          box-shadow: 0rem 0rem 2rem 0.5rem black;
}
/*# sourceMappingURL=style.css.map */