$primary: #CB8FEB;
$secondary: #504C52;
$third: #CCC2D1;
$bordes: #4B3B5A;
$fondoLista: #958E99;
$fondoListaSeleccionado: #db3d4a;
$colorLetraSeleccionado:  white;

*{box-sizing: 0;}

html,body{
    margin:0;
    padding: 0;
    height: 100%;
}


body{
    background-image: url('../img/fondoClaro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary;

        #containerBtns{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button{
                width: 100%;
                border: none;
                height: 50px;
                border: solid 1px $bordes;
            }
        }

    }

    main{

        flex-grow: 1;
        display: flex;

        aside{
            border: solid 1px $bordes;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #listaTracks{
                
                height: 100%;
                width: 100%;
                border: solid 1px black;
                overflow: scroll;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-top: 2rem;

                .no-seleccionado{
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 1em 1em;
                    background-color: $fondoLista;
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 9.5px );
                    border-radius: 10px;

                    cursor: pointer;

                    .divImg{
                        flex-basis: 20%;

                        img{
                            height: 150px;
                            width: 150px;
                            text-align: center;
                        }
                    }

                    .texto{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-basis: 80%;
                    }  
                }

                .seleccionado{
                    background-color: $fondoListaSeleccionado;
                    color: $colorLetraSeleccionado;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 1em 1em;
                    cursor: pointer;

                    .divImg{
                        flex-basis: 20%;

                        img{
                            height: 150px;
                            width: 150px;
                            text-align: center;
                        }
                    }

                    .texto{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-basis: 80%;
                    } 
                }

            }
        }

        #audioSection{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #trackEntero{
                display: flex;
                flex-direction: column;
                padding-top: 5%;
                align-items: center;
                color: $colorLetraSeleccionado;
                gap: 1rem;
                
                img{
                    box-shadow: 0rem 0rem 2rem 0.5rem black;
                }
                h2{
                    background-color: $fondoListaSeleccionado;
                }
            }
        }  
    }
}