$primary: #CB8FEB;
$secondary: #504C52;
$third: #CCC2D1;
$bordes: #4B3B5A;
$fondoLista: #958E99;

*{box-sizing: 0;}

html{
    margin:0;
    padding: 0;
    height: 100%;
}

body{
    margin:0;
    padding: 0;
    height: 100%;
}

body{
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        height: 10%;

        #containerBtns{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button{
                width: 100%;
                border: none;
                height: 50px;
                border: solid 1px $bordes;
            }
        }

    }

    main{
        height: 89%;
        aside{
            border: solid 1px $bordes;
            width: 40%;
            height: 100%;
            overflow: scroll;
            overflow-x: hidden;

            display: flex;
            
        }
    }
}