$primary: #CB8FEB;
$secondary: #504C52;
$third: #ccc2d1c5;
$bordes: #4B3B5A;
$fondoLista: #dfa2ff;
$fondoListaSeleccionado: #db3d4ac4;
$colorLetraSeleccionado:  white;
$tituloNav: #e29399;

*{box-sizing: 0;}

html{
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


body{
    background-image: url('../img/fondoClaro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding: 0;
    flex-direction: column;

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary;

        #containerBtns{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button{
                width: 100%;
                border: none;
                height: 50px;
                border: solid 1px $bordes;
            }
        }

    }

    main{

        flex-grow: 1;
        display: flex;

        aside{
            border-right: solid 1px $bordes;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $third;
            padding: 2rem;           
            
            #tituloNav{
                background-color: $tituloNav;
                width: 90%;
                text-align: center;
                border-radius: 1rem 1rem;
                height: 4%;
                display:flex;
                justify-content: center;
                align-items: center;
            }  

            #listaTracks{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem;
                

                .no-seleccionado{
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 1em 1em;
                    background-color: $fondoLista;
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 9.5px );
                    border-radius: 10px;

                    cursor: pointer;

                    .divImg{
                        flex-basis: 20%;

                        img{
                            height: 150px;
                            width: 150px;
                            text-align: center;
                        }
                    }

                    .texto{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-basis: 80%;
                    } 
                    
                }

                .seleccionado{
                    background-color: $fondoListaSeleccionado;
                    color: $colorLetraSeleccionado;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 1em 1em;
                    cursor: pointer;

                    .divImg{
                        flex-basis: 20%;

                        img{
                            height: 150px;
                            width: 150px;
                            text-align: center;
                        }
                    }

                    .texto{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-basis: 80%;
                    } 
                }

            }
        }

        #audioSection{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #trackEntero{
                display: flex;
                flex-direction: column;
                padding-top: 5%;
                align-items: center;
                color: $colorLetraSeleccionado;
                gap: 1rem;

                #imgContainer{
                    box-shadow: 0rem 0rem 2rem 0.5rem black;
                    width:"500px" ;
                    height:"500px";

                    img{visibility:hidden;}
                }

                #botonesTrack{

                    #reproductor{

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;

                        svg{
                            width: 75px;
                            height: 75px;
                        }
                        
                        svg:hover{
                            transform: scale(1.2);
                            
                        }

                        .noActivado{
                            stroke: $colorLetraSeleccionado;
                            fill: $colorLetraSeleccionado;
                        }

                        .activado{
                            fill: lightgreen;
                        }

                        #Layer_1:active{
                            fill: lightgreen;
                        }

                        #containerVolumen{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            border-radius: 15px;
                            box-shadow: -5px -5px 30px 5px $primary, 5px 5px 30px 5px $tituloNav;

                            legend{
                                background-color: $tituloNav;
                                padding: 10px;
                                font-size: 15px;
                                color: white;
                                text-shadow: 1px 1px 1px black;
                                box-shadow: -1px 1px 1px black;
                                margin:0 auto; //ponerlo en el medio
                              }

                            span{
                                margin-left: 10px;
                                margin-right: 10px;
                                font-size: 25px;
                            }

                            #volumenMenos{
                                transform: scaleX(-1);
                            }

                            #volumenMas:active{
                                fill: lightgreen;
                            }

                            #volumenMenos:active{
                                fill: red;
                            }
                        }

                    }
                }
            }
        } 
        
        #videoSection{
            
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #videoEntero{

                display: flex;
                flex-direction: column;
                padding-top: 5%;
                align-items: center;
                color: $colorLetraSeleccionado;
                gap: 1rem;

                #tituloVideo{
                    color: white;
                }

                #containerVideo{
                    display: flex;
                    flex-direction: column;
                    padding-top: 5%;
                    align-items: center;
                    justify-content: center;
                    color: $colorLetraSeleccionado;
                    gap: 1rem;
    
                    #videoTag{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                }

            }

        }

    }
}